server:
  port: 8082

spring:
  application:
    name: notification-service
  cloud:
    config:
      enabled: false

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-service
      auto-offset-reset: earliest

  mail:
    host: smtp.gmail.com
    port: 587
    username: sorohov344@gmail.com
    password: grrrajvvykygeiey
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

resilience4j:
  circuitbreaker:
    instances:
      emailService:
        sliding-window-size: 5
        failure-rate-threshold: 60
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 2
      kafkaConsumer:
        sliding-window-size: 8
        failure-rate-threshold: 40
        wait-duration-in-open-state: 15s

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
    enabled: true
  instance:
    prefer-ip-address: false
    hostname: localhost
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90

logging:
  level:
    org.example.notificationservice: DEBUG
    io.github.resilience4j: DEBUG